name: Shorebird Patch

on:
  workflow_dispatch: # Manual trigger only

jobs:
  patch:
    name: Patch Android App
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
          
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.0'
          channel: 'stable'
          
      - name: Setup Shorebird
        uses: shorebirdtech/setup-shorebird@v1

      - name: Patch Android
        working-directory: ./frontend
        env:
          SHOREBIRD_TOKEN: ${{ secrets.SHOREBIRD_TOKEN }}
        run: shorebird patch android --release-version <YOUR_CURRENT_VERSION>
        # Note: You usually need to specify which version to patch. 
        # For auto-patching the latest, shorebird usually detects it, 
        # but explicit versioning is safer.
